body {
    padding: 0;
    margin: 0;
    color: #fff;
    background: #000;
    font-family: 'Satoshi', sans-serif;
}
.lyricfy_container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.lyricfy_body {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1.05rem;
}
.btn-success {
    color: #000;
    background: #1ed760;
}
#show_lyrics {
    width: 100%;
    border-color: #1ed760;
    border-radius: 0 0 5px 5px;
}
.form-control {
    margin-bottom: 1px;
    border: none;
}
#title {
    border-radius: 0;
}
#artist {
    border-radius: 5px 5px 0 0;
}
#show_lyrics:hover {
    border-color: #218838;
}
.lyricfy_lyrics_hidden {
    visibility: hidden;
}
.lyricfy_lyrics_shown {
    margin-top: 20px;
    border-radius: 15px;
    background: #181818;
    padding: 25px 15px;
    visibility: visible;
}
@media (max-width: 1200px) {
    .lyricfy_container {
        max-width: 970px;
    }
    .lyricfy_body {
        max-width: 70%;
        padding-top: 15px;
        font-size: 1.1rem;
    }
}
@media (max-width: 992px) {
    .lyricfy_container {
        max-width: 750px;
    }
    .lyricfy_body {
        max-width: 85%;
        padding-top: 10px;
        font-size: 1.15rem;
    }
}
@media (max-width: 767px) {
    .lyricfy_container {
        max-width: none;
    }
    .lyricfy_lyrics_shown {
        padding: 15px;
    }
    .lyricfy_body {
        max-width: 100%;
        padding-top: 0;
        text-align: left;
        font-size: 1.2rem;
    }
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0;
}
::selection {
    color: #000;
    background: #1ed760;
}
