body {
    padding: 0;
    margin: 0;
    color: #fff;
    background: #000;
    padding: 1rem;
    font-family: 'Satoshi', sans-serif;
    min-width: 200px !important;
}
::-webkit-scrollbar {
    width: 0;
}
.lyricfy_body {
    /* position: relative; */
    /* z-index: 2; */
    width: 35%;
    margin: 0 auto;
    text-align: center;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lyricfy_input {
    margin: 0 auto;
    padding-top: 25px;
}
.btn-success {
    color: #000;
    background: #1ed760;
}
#lyricfy_lyrics {
    margin-top: 20px;
    border-radius: 5px;
    border-radius: 15px;
    background: #181818;
    padding: 25px 15px;
}
#show_lyrics {
    width: 100%;
    border-color: #1ed760;
    border-radius: 0 0 5px 5px;
}
.form-control {
    margin-bottom: 1px;
    border: none;
}
#title {
    border-radius: 0;
}
#artist {
    border-radius: 5px 5px 0 0;
}
#show_lyrics:hover {
    border-color: #218838;
}
::selection {
    color: #000;
    background: #1ed760;
}
.lyricfy_lyrics_hidden {
    visibility: hidden;
}
.lyricfy_lyrics_shown {
    visibility: visible;
}
/* .bg_blur_body {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url(cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(25px);
    height: 100vh;
    width: 100%;
} */
/* body::before {
    content: '';
    position: fixed;
    left: 0; right: 0; 
    top: 0; bottom: 0; 
    z-index: -1; 
    background: url(cover.jpg) center / cover no-repeat;
    filter: blur(33px); 
} */
@media (max-width: 1600px) {
    .lyricfy_body {
        width: 50% !important;
    }
    .lyricfy_input {
        padding-top: 20px !important;
    }
}
@media (max-width: 1280px) {
    .lyricfy_body {
        width: 70% !important;
    }
    .lyricfy_input {
        padding-top: 10px !important;
    }
    .lyricfy_lyrics_shown {
        padding: 20px 15px !important;
        font-size: 1.2rem !important;
    }
}
@media (max-width: 768px) {
    .lyricfy_body {
        width: 100% !important;
        text-align: left !important;
    }
    .lyricfy_input {
        padding-top: 0 !important;
    }
    .lyricfy_lyrics_shown {
        padding: 15px !important;
    }
}